<div className="container default">
  <div className="section-title text-center pb-60">
    <h2>Popular Item</h2>

    <p>COFFEE BUILD YOUR BASE.</p>
  </div>

  <div className="row content-right">
    <div className="col-lg-4 col-sm-12 single_feature_left feature_content_align">
      <div
        className="banner-bg-content scroll-zoom"
        data-sr-id="1"
        style="
          visibility: visible;
          -webkit-transform: translateY(0) scale(1);
          opacity: 1;
          transform: translateY(0) scale(1);
          opacity: 1;
          -webkit-transition: -webkit-transform 0.8s
              cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
            opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
          transition: transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
            opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
        "
      >
        <div className="all_features">
          <div className="single_feature">
            <div className="feature_icon"><i className="icofont-croissant"></i></div>
            <div className="feature_text">
              <h4>CROISSANT</h4>
              <p>
                This is the perfect place to find a nice and cozy spot to sip
                some.
              </p>
            </div>
          </div>
          <div className="single_feature">
            <div className="feature_icon"><i className="icofont-hot-dog"></i></div>
            <div className="feature_text">
              <h4>FRENCH TOAST</h4>
              <p>
                This is the perfect place to find a nice and cozy spot to sip
                some.
              </p>
            </div>
          </div>
          <div className="single_feature">
            <div className="feature_icon"><i className="icofont-cup-cake"></i></div>
            <div className="feature_text">
              <h4>PANCAKES</h4>
              <p>
                This is the perfect place to find a nice and cozy spot to sip
                some.
              </p>
            </div>
          </div>
          <div className="single_feature">
            <div className="feature_icon"><i className="icofont-donut"></i></div>
            <div className="feature_text">
              <h4>CHOCOLATE</h4>
              <p>
                This is the perfect place to find a nice and cozy spot to sip
                some.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div className="col-lg-4 col-sm-12">
      <div
        className="text_promotoin_img scroll-zoom"
        data-sr-id="2"
        style="
          visibility: visible;
          -webkit-transform: translateY(0) scale(1);
          opacity: 1;
          transform: translateY(0) scale(1);
          opacity: 1;
          -webkit-transition: -webkit-transform 0.8s
              cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
            opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
          transition: transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
            opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
        "
      >
        <a href="/collections/all"
          ><img
            className="animated"
            src="//cdn.shopify.com/s/files/1/1274/9187/files/cup-20.png?v=1637664578"
            alt=""
        /></a>
      </div>
    </div>
    <div className="col-lg-4 col-sm-12 single_feature_right">
      <div
        className="banner-bg-content scroll-zoom"
        data-sr-id="3"
        style="
          visibility: visible;
          -webkit-transform: translateY(0) scale(1);
          opacity: 1;
          transform: translateY(0) scale(1);
          opacity: 1;
          -webkit-transition: -webkit-transform 0.8s
              cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
            opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
          transition: transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
            opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
        "
      >
        <div className="all_features">
          <div className="single_feature">
            <div className="feature_icon"><i className="icofont-coffee-alt"></i></div>
            <div className="feature_text">
              <h4>TURKISH COFFEE</h4>
              <p>
                This is the perfect place to find a nice and cozy spot to sip
                some.
              </p>
            </div>
          </div>
          <div className="single_feature">
            <div className="feature_icon"><i className="icofont-coffee-mug"></i></div>
            <div className="feature_text">
              <h4>COFFEE TO GO</h4>
              <p>
                This is the perfect place to find a nice and cozy spot to sip
                some.
              </p>
            </div>
          </div>
          <div className="single_feature">
            <div className="feature_icon"><i className="icofont-coffee-pot"></i></div>
            <div className="feature_text">
              <h4>MORNING COFFEE</h4>
              <p>
                This is the perfect place to find a nice and cozy spot to sip
                some.
              </p>
            </div>
          </div>
          <div className="single_feature">
            <div className="feature_icon"><i className="icofont-french-fries"></i></div>
            <div className="feature_text">
              <h4>ESPRESSO</h4>
              <p>
                This is the perfect place to find a nice and cozy spot to sip
                some.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
