.image img{
    width: 100%;
    height: 100%;
}
.finest-box{
    margin-top: 150px !important;
}
.items h1{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.items p{
   font-size: 16px;

}
.title{
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px !important;
    text-transform: uppercase;
    
}
.finest-items{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 40px;
}
/* .finest-items i{
    color: #d3ad7f;
    font-size: 35px;
    margin-right: 8px;
} */
.finest-items li{
    margin-bottom: 10px;
    text-align: justify;
}