.navbar{
    background-color: transparent !important;
    /* box-shadow: 1px 3px 7px -1px rgba(0,0,0,0.40);
-webkit-box-shadow: 1px 3px 7px -1px rgba(0,0,0,0.40);
-moz-box-shadow: 1px 3px 7px -1px rgba(0,0,0,0.40); */
padding: 8px;
position: fixed;
left: 0;
right: 0;
top: 0;
z-index: 100;

}
.nav-link{
    color: #fff !important;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 17px;
}
.navbar-brand .logo{
    width: 60px;
    height: 60px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 12px;
    margin-left: 10px;
}

.navbar-brand h2{
    text-transform: uppercase;
    font-size: 25px;
}