
.product-card-box img{
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin-top: 12px;
    min-height: 200px!important;
    max-width: 100% !important;
   
}
.product-card-box{
    padding: 10px !important;
    
    border:1px solid rgb(177, 177, 177,0.5) !important;
    min-height: 100% !important;
      /* box-shadow: 0px 2px 5px rgba(0,0,0,0.1) ;   */
    transition: all ease-in-out 300ms;
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
}
.product-card-box:hover{
    transition: all ease-in-out 300ms;
    box-shadow: 0px 4px 4px 3px rgba(34, 20, 20, 0.1) ;
    cursor: pointer;
}

.product-btn{
    display: flex !important;
    justify-content: space-around !important;
    width: 100%;
    align-items: flex-end;
}